<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        h1{
            font-size: 40px;
            color:gray;
            margin-top: 60px;
        }
        .ic{

          border:1px solid red;
          height:100px;
          width:200px;
        }
    </style>
</head>
<body>
    <h1><center>
        DEJAVU</center>
    </h1>
    <div class="ic">

    </div>
</body>
</html>